body {
    background: #232321;
    
}

h1 {
    color: #fff;
    padding: 10px 0;
}

a {
    color: #000000;
    border-radius: 39px;
    
}

.text-muted i {
    color: #000;
    margin: 0 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.text-muted i {
    margin: 0 10px;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    margin-top: 40px;
  }

.card-text {
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
}

.slide-image {
    object-fit: cover;
    width: 500px;
    /* กำหนดขนาดความกว้างของภาพที่คุณต้องการ */
    height: 300px;
    /* กำหนดขนาดความสูงของภาพที่คุณต้องการ */
}