body {
    background: #232321;
}

/* h1 {
    color: #fff;
    padding: 10px 0;
}

a {
    color: #000000;
    border-radius: 39px;
    
} */


#likeIcon:hover {
    cursor: pointer;
    /* เปลี่ยนรูปร่างเป็นรูปมือ */
    /* เพิ่มอื่น ๆ ตามต้องการ เช่น เปลี่ยนสีของไอคอนเมื่อโฮเวอร์ */
}

#bookmarkIcon:hover {
    cursor: pointer;
    /* เปลี่ยนรูปร่างเป็นรูปมือ */
    /* เพิ่มอื่น ๆ ตามต้องการ เช่น เปลี่ยนสีของไอคอนเมื่อโฮเวอร์ */
}

#commentIcon:hover {
    cursor: pointer;
    /* เปลี่ยนรูปร่างเป็นรูปมือ */
    /* เพิ่มอื่น ๆ ตามต้องการ เช่น เปลี่ยนสีของไอคอนเมื่อโฮเวอร์ */
}

#shareIcon:hover {
    cursor: pointer;
    /* เปลี่ยนรูปร่างเป็นรูปมือ */
    /* เพิ่มอื่น ๆ ตามต้องการ เช่น เปลี่ยนสีของไอคอนเมื่อโฮเวอร์ */
}

.text-muted i {
    color: #000;
    margin: 0 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.text-muted i {
    margin: 0 10px;
}

.card {
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
    margin-top: 40px;
    font-family: 'Mitr', sans-serif;
}

.card-text {
    overflow: hidden;
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
}

.slide-image {
    object-fit: cover;
    width: 500px;
    /* กำหนดขนาดความกว้างของภาพที่คุณต้องการ */
    height: 300px;
    /* กำหนดขนาดความสูงของภาพที่คุณต้องการ */
}

.card-body-commu {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 5px;
    height: 45px;
}

.card-body-commu .icon-container {
    display: flex;
    /* กำหนดให้องค์ประกอบภายในแสดงแบบ flex */
    gap: 10px;
    /* กำหนดระยะห่างระหว่างไอคอน */
    justify-content: flex-end;
    /* จัดตำแหน่งไอคอนที่อยู่ใน container ทางขวา */
}

.card-body-commu .icon-container i:last-child {
    margin-left: auto;
    /* ชิดซ้ายเพื่อเลื่อนไอคอนสุดท้ายไปทางขวา */
}

.card-body-commu i {
    font-size: 20px;
    width: 20px;
}

.card-body-profile {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: auto;
    margin-bottom: 0;
}

.card-footer {
    margin-top: -40px;
    padding: 0;
    height: 120px;
}

.container-st {
    width: 85%;
    height: 100%;
    display: grid;
}

.card-text {
    max-height: 6em;
    margin-top: -10px;
    /* กำหนดความสูงสูงสุดของเนื้อหา (ประมาณ 2.5 บรรทัด) */
    overflow: hidden;
}

.card-title a {
    text-decoration: none;
    font-size: 16px;
    /* ลบขีดเส้นใต้ของลิงก์ */
    color: #424242;
    /* ใช้สีตามที่ถูกกำหนดในพ่อค้านรอง */
}

.card-title a:hover {
    text-decoration: none;
    /* เพิ่มขีดเส้นใต้เมื่อนำเมาส์ไปชี้ */
}

/*----  Main Style  ----*/
#cards_landscape_wrap-2 {
    text-align: start;

}

#cards_landscape_wrap-2 .container {
    padding-top: 60px;
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 .card:hover .img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card.text-box {
    text-align: start;
}

#cards_landscape_wrap-2 .card:hover {
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

.top-menu {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top:hover i {
    position: absolute;
    top: 10px;
}

.top i {
    position: absolute;
    top: -100px;
    right: 10px;
    color: rgb(226, 28, 28);
    transition: all 0.5s;
}

.top .i-red {
    color: rgb(226, 13, 13);
}

@keyframes anim {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.top img {
    height: 220px;
    width: 100%;
    object-fit: cover;
    transition: all 2s;
}

.card-body-commu .icon-container .bi.bi-bookmark {
    color: rgb(0, 0, 0);
    /* สีสำหรับไอคอนบุคมาร์คที่ไม่ถูกบุคมาร์ค */
}

.card-body-commu .icon-container .bi.bi-bookmark-check-fill {
    color: rgb(165, 0, 0);
    /* สีสำหรับไอคอนบุคมาร์คที่ไม่ถูกบุคมาร์ค */
}