* {
  font-family: 'Lilita One', cursive;

}

.menu {
  padding-top: 30px;
  background-color: #111827;
}

.paragrap1 {
  background-color: #111827
}

.btn_menu {
  box-shadow: 2px 2px 16px 16px rgba(252, 252, 252, 0.1);
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: 3px solid #ffffff;
  background-color: #000000;
  border-radius: 20px;
  padding: 10px;
}

.toppage {
  background-color: #1c1c1d;
  width: 100%;
  max-width: 100%;
  height: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

.carousel-inner {
  height: 300px;
}

section {
  font-family: "Poppins", sans-serif;
}

/* bookmark */
.container-sm {
  border-radius: 25px;
  width: 1800px;
  height: 600px;
  margin-top: 30px;
  background-color: rgb(150, 150, 150);
}

h4 {
  margin-bottom: 3;
  padding-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.container-bk {
  color: #242424;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  margin-top: 2%;
  background-color: #e8e8e8;
  padding-top: 3;
  padding-bottom: 3;
  border-radius: 25px;
}

.container-fluid {
  width: 100%;
  height: 315px;
  background-color: rgb(185, 175, 175);
}
/* bookmark */




/* add news */


.form-select-ad{
  color: #bcd0f7;
  background: #1A233A;
  width: 100%;
  height: 40px;
}

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}

.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}

.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.account-settings .user-profile h5.user-name {
  margin: 0 0 0.5rem 0;
}

.account-settings .user-profile h6.user-email {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 400;
}

.account-settings .about {
  margin: 1rem 0 0 0;
  font-size: 0.8rem;
  text-align: center;
}

.card {
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
  margin-top: 40px;
}

.form-control {
  border: 1px solid #596280;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: .825rem;
  background: #1A233A;
  color: #bcd0f7;
}
.card-deck {
  margin: 0 -15px;
  margin-left: 3%;
}

.card-deck .card {
  margin: 0 0 1rem;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .card-deck .card {
    -ms-flex: 0 0 48.7%;
    flex: 0 0 48.7%;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .card-deck .card {
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
  }
}

@media (min-width: 992px)
{
  .card-deck .card {
    -ms-flex: 0 0 24%;
    flex: 0 0 24%;
  }
}

.text-end{
  margin-left: 1300px;
}

/* bookmark */
.container-sm {
  border-radius: 25px;
  width: 1800px;
  height: 600px; 
  margin-top: 30px;
  background-color: rgb(150, 150, 150);
}

.card-title-h {
  margin-bottom: 3;
  padding-top: 30px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

.container-bk{
  color: #242424;
  font-weight: 600;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  margin-top: 2%;
  background-color: #e8e8e8;
  padding-top: 3; 
  padding-bottom: 3; 
  border-radius: 25px;
}

.container-fluid {
  width: 100%;
  height: 315px;
  background-color: rgb(185, 175, 175);
}
/* bookmark */

/* footer */

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-footer{
  position: relative;
  background: #1e2129;
}

.footer-content{
  position: relative;
  padding: 85px 0px 80px 0px;
}
.footer-content:before{
  position: absolute;
  content: '';
  background: url(https://i.ibb.co/jyRLrBZ/world-map.png);
  width: 744px;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.footer-content .logo-widget{
  position: relative;
  margin-top: -5px;
}
.footer-content .logo-widget .footer-social li{
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child{
  margin-right: 0px;
}
.footer-content .logo-widget .footer-social li a{
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.footer-content .logo-widget .footer-social li a:hover{
  color: #ffffff;
  background: #ff5e14;
}
.footer-content .logo-widget .logo-box{
  margin-bottom: 25px;
}
.footer-content .logo-widget .text p{
  color: #9ea0a9;
  margin-bottom: 32px;
}
.footer-content .footer-title{
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-content .service-widget .list li{
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a{
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}
.footer-content .service-widget .list li a:hover{
  color: #ff5e14;
}
.footer-content .contact-widget p{
  color: #9ea0a9;
  margin-bottom: 15px;
}
.footer-content .contact-widget{
  margin-left: 90px;
}
.footer-content .contact-widget .footer-title{
  margin-bottom: 29px;
}

/** footer-bottom **/

.footer-bottom{
  position: relative;
  background: #13151a;
  padding: 25px 0px 22px 0px;
}
.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a{
  position: relative;
  color: #9ea0a9;
}
.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover{
  color: #ff5e14;
}
.footer-bottom .footer-nav{
  position: relative;
  text-align: right;
}
.footer-bottom .footer-nav li{
  position: relative;
  display: inline-block;
  margin-left: 29px;
}
.footer-bottom .footer-nav li:first-child{
  margin-left: 0px;
}
.footer-bottom .footer-nav li:before{
  position: absolute;
  content: '';
  background: #9ea0a9;
  width: 1px;
  height: 14px;
  top: 7px;
  left: -18px;
}
.footer-bottom .footer-nav li:first-child:before{
  display: none;
}
.logo-box img {
    max-width: 220px;
}
/* footer */


/*details*/
#slider_bl .wrapper{
  max-width:60em;
  margin:1em auto;
  position:relative;
  }
  
  #slider_bl input{
  display:none;
  }
  
  #slider_bl .inner{
  width:500%;
  line-height:0;
  }
  
  #slider_bl article{
  width:20%;
  float:left;
  position:relative;
  }
  
  #slider_bl article img{
  width:100%;
  }
  
  #slider_bl .slider-prev-next-control{
  height:50px;
  position:absolute;
  top:50%;
  width:100%;
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  -o-transform:translateY(-50%);
  transform:translateY(-50%);
  }
  
  #slider_bl .slider-prev-next-control label{
  display:none;
  width:40px;
  height:40px;
  border-radius:50%;
  background:#fff;
  opacity:.7;
  }
  
  #slider_bl .slider-prev-next-control label:hover{
  opacity:1;
  }
  
  #slider_bl .slider-dot-control{
  position:absolute;
  width:100%;
  bottom:0;
  text-align:center;
  }
  
  #slider_bl .slider-dot-control label{
  cursor:pointer;
  border-radius:5px;
  display:inline-block;
  width:10px;
  height:10px;
  background:#bbb;
  -webkit-transition:all .3s;
  -moz-transition:all .3s;
  transition:all .3s;
  }
  
  #slider_bl .slider-dot-control label:hover{
  background:#ccc;
  border-color:#777;
  }
  
  #slider_bl .info{
  position:absolute;
  font-style:italic;
  line-height:20px;
  opacity:0;
  color:#000;
  text-align:left;
  -webkit-transition:all 1s ease-out .6s;
  -moz-transition:all 1s ease-out .6s;
  transition:all 1s ease-out .6s;
  }
  
  #slider_bl .info h3{
  color:#fcfff4;
  margin:0 0 5px;
  font-weight:400;
  font-size:1.5em;
  font-style:normal;
  }
  
  #slider_bl .info.top-left{
  top:30px;
  left:30px;
  }
  
  #slider_bl .info.top-right{
  top:30px;
  right:30px}
  
  #slider_bl .info.bottom-left{
  bottom:30px;
  left:30px;
  }
  
  #slider_bl .info.bottom-right{
  bottom:30px;
  right:30px;
  }
  
  #slider_bl .slider-wrapper{
  width:100%;
  overflow:hidden;
  border-radius:5px;
  box-shadow:1px 1px 4px #666;
  background:#fff;
  background:#fcfff4;
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .5s ease-out;
  -moz-transition:all .5s ease-out;
  transition:all .5s ease-out;
  }
  
  #slider_bl .slider-wrapper .inner{
  -webkit-transform:translateZ(0);
  -moz-transform:translateZ(0);
  -ms-transform:translateZ(0);
  -o-transform:translateZ(0);
  transform:translateZ(0);
  -webkit-transition:all .8s cubic-bezier(.77,0,.175,1);
  -moz-transition:all .8s cubic-bezier(.77,0,.175,1);
  transition:all .8s cubic-bezier(.77,0,.175,1);
  }
  
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{
  font-family:FontAwesome;
  font-style:normal;
  font-weight:400;
  text-decoration:inherit;
  margin:0;
  line-height:38px;
  font-size:3em;
  display:block;
  color:#777;
  }
  
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl 
  #slide5:checked~.slider-prev-next-control label:nth-child(1)::after{content:"\f105";padding-left:15px; cursor: pointer;
  }
  
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(4),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(1){
  display:block;
  float:right;
  margin-right:5px;
  }
  
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5),#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1),#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2),#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3),#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4){
  display:block;
  float:left;
  margin-left:5px;
  }
  
  #slider_bl #slide1:checked~.slider-prev-next-control label:nth-child(5)::after,#slider_bl #slide2:checked~.slider-prev-next-control label:nth-child(1)::after,#slider_bl #slide3:checked~.slider-prev-next-control label:nth-child(2)::after,#slider_bl #slide4:checked~.slider-prev-next-control label:nth-child(3)::after,#slider_bl #slide5:checked~.slider-prev-next-control label:nth-child(4)::after{content:"\f104";padding-left:8px; cursor: pointer;
  }
  
  #slider_bl #slide1:checked~.slider-dot-control label:nth-child(1),#slider_bl #slide2:checked~.slider-dot-control label:nth-child(2),#slider_bl #slide3:checked~.slider-dot-control label:nth-child(3),#slider_bl #slide4:checked~.slider-dot-control label:nth-child(4),#slider_bl #slide5:checked~.slider-dot-control label:nth-child(5){
  background:#333;
  }
  
  #slider_bl #slide1:checked~.slider-wrapper article:nth-child(1) .info,#slider_bl #slide2:checked~.slider-wrapper article:nth-child(2) .info,#slider_bl #slide3:checked~.slider-wrapper article:nth-child(3) .info,#slider_bl #slide4:checked~.slider-wrapper article:nth-child(4) .info,#slider_bl #slide5:checked~.slider-wrapper article:nth-child(5) .info{
  opacity:1;
  }
  
  #slider_bl #slide1:checked~.slider-wrapper .inner{
  margin-left:0;
  }
  
  #slider_bl #slide2:checked~.slider-wrapper .inner{
  margin-left:-100%;
  }
  
  #slider_bl #slide3:checked~.slider-wrapper .inner{
  margin-left:-200%;
  }
  
  #slider_bl #slide4:checked~.slider-wrapper .inner{
  margin-left:-300%;
  }
  
  #slider_bl #slide5:checked~.slider-wrapper .inner{
  margin-left:-400%;
  }
  
  @media only screen and (max-width:850px) and (min-width:450px){
  #slider_bl .slider-wrapper{
  border-radius:0;
    }
  }
  
  @media only screen and (max-width:450px){
  #slider_bl .slider-wrapper{
  border-radius:0;
    }
  
  #slider_bl .slider-wrapper .info{
  opacity:0;
    }
  }
  
  @media only screen and (min-width:850px){
  #slider_bl body{
  padding:0 80px;
    }
  }



  body {
    font-family: sans-serif, arial, Tahoma;
}
