<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>setting_bookmake</title>
</head>

<%- include('../header') %>
<%- include('../nav') %>

<body>
    <div class="container mt-2">
        <div class="card card-block mb-2 mb-3">
          <h4 class="card-title"><b>BOOKMARK</b></h4>
          <p class="card-text">Welcom to bookmark</p>
          <span><a href="/setting_bookmark" class="btn btn-drak mb-3">setting <i class="fa-sharp fa-solid fa-gears fa-sm" style="color: #030303;"></i></a></span>
        </div>  
        <div class="container-bk">
          <div class="card-deck">
            <div class="card">
              <a href="#">
              <img class="card-img-top" src="https://picsum.photos/309/200?image=1050" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </a>
            <div class="card">
              <a href="#">
              <img class="card-img-top" src="https://picsum.photos/309/200?image=1041" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </a>
            <div class="card">
              <a href="#">
              <img class="card-img-top" src="https://picsum.photos/309/200?image=1039" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </a>
            <div class="card">
              <a href="#">
              <img class="card-img-top" src="https://picsum.photos/309/200?image=1019" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </a>
          </div>
</div>

 <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end mr-5 mt-3 mb-3">
      <li class="page-item disabled">
          <a class="page-link">Previous</a>
      </li>
      <li class="page-item active"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
          <a class="page-link" href="#">Next</a>
      </li>
  </ul>
</nav>

</body>
<script src="https://kit.fontawesome.com/4c6ee23687.js" crossorigin="anonymous"></script>
</html>