<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<%- include('../header') %>
    <%- include('../nav') %>

<body>

        <section class="movie">
            <div class="over">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="poster">
                                <div class="over-img">
                                    <i class="fa fa-eye" aria-hidden="true"> 11120</i>
                                </div>
                               <img class="img-responsive" src="/images/paragrap1/pica1.jpg" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <h1>‼️ ขยายเวลารับสมัคร FOR FUN‼️</h1>
                            <div class="watch">
                                <h2>Title : ‼️ ขยายเวลารับสมัคร FOR FUN‼️</h2>
                                <p>"🎉🎉🎉 𝑺𝑼𝑻 𝑭𝑶𝑹 𝑭𝑼𝑵 𝑺𝑷𝑬𝑪𝑰𝑨𝑳 𝑪𝑶𝑴𝑬𝑩𝑨𝑪𝑲 𝑭𝑶𝑹 𝑳𝑰𝑽𝑬 ขยายเวลารับสมัครแล้วนะ และสมัครทั้งสองเกมได้เลย แข่งไม่ตรงกันแน่นอน🎯🎯📍📍ปิดรับสมัคร 5 กุมภาพันธ์ 2566 น้า"</p>
                                <button class="head-b btn btn-danger btn-lg">Buy Tickets</button>
                                <button class="head-b btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal">Video</button>

                                <!-- Modal -->

                                <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content" >
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <iframe width="100%" height="405" src="https://www.youtube.com/embed/Ej83QvHuiNI?rel=0" frameborder="0" allow="autoplay encrypted-media" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="social">
                                    <i class="fa fa-comment" aria-hidden="true"> Comments</i>
                                    <i class="fa fa-star"> Bookmark</i>
                                    <span>Share :</span>
                                    <i class="fa fa-twitter"></i>
                                    <i class="fa fa-facebook"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="information">
                                <p>Director:<span> Name</span></p>
                                <p>Year:<span> 2016</span></p>
                                <p>Type:<span> Drama, Mestery</span></p>
                                <p>Duration:<span> 1:44:02</span></p>
                                <p>Formats:<span> 2D, VIP</span></p>
                                <p>Description:<span> +18, Bloody, Violence</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Story -->

        <section class="story" style="margin-top: 3%;">
            <div class="container text-center">
                <h1>Story :</h1>
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Section Story -->

        <!-- Select The Theater Section -->

        <section class="select">
            <div>
                <div class="row">
                    <div class="col-lg-3" style="text-align: center;">
                        <h1>Buy Tickets</h1>
                        <p>Choose The Cinema</p>
                    </div>
                    <div class="col-sm-4" >
                        <form>
                            <div class="fomr-groub">
                                <section id="slider_bl">
                                    <div class="wrapper">
                                      <input checked="" type="radio" name="slider" id="slide1">
                                      <input type="radio" name="slider" id="slide2">
                                      <input type="radio" name="slider" id="slide3">
                                      <input type="radio" name="slider" id="slide4">
                                      <div class="slider-wrapper">
                                        <div class="inner">
                                          <article>
                                            <div class="info top-left">
                                              <h3>Слайдер 1</h3></div>
                                            <img src="https://obninsksite.ru/assets/theme/images/blog/slider/1.jpg">
                                          </article>
                                          <article>
                                            <div class="info bottom-right">
                                              <h3>Слайдер 2</h3></div>
                                            <img src="https://obninsksite.ru/assets/theme/images/blog/slider/2.jpg">
                                          </article>
                                          <article>
                                            <div class="info bottom-left">
                                              <h3>Слайдер 3</h3></div>
                                            <img src="https://obninsksite.ru/assets/theme/images/blog/slider/3.jpg">
                                          </article>
                                          <article>
                                            <div class="info top-right">
                                              <h3>Слайдер 4</h3></div>
                                            <img src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg">
                                          </article>
                                        </div>
                                      </div>
                                      <div class="slider-prev-next-control">
                                        <label for="slide1"></label>
                                        <label for="slide2"></label>
                                        <label for="slide3"></label>
                                        <label for="slide4"></label>
                                      </div>
                                      <div class="slider-dot-control">
                                        <label for="slide1"></label>
                                        <label for="slide2"></label>
                                        <label for="slide3"></label>
                                        <label for="slide4"></label>
                                      </div>
                                    </div>
                                </section>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-4" >
                        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="img-fluid shadow-2-strong" 
                        alt="Palm Springs Road" style="margin-top: 3%;"/>
                    </div>
                </div>
            </div>
        </section>

        <!-- End Select The Theater Section -->

        <!-- Slaider Section -->

        <div class="date">
            <div class="container">
                <div class="holder text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class=" list-unstyled">
                                <li><a href="#">15 May<span>Mondai</span></a></li>
                                <li><a href="#">21 Jan<span>Satuday To Monday</span></a></li>
                                <li><a href="#">11 Fep<span>Tuesday</span></a></li>
                                <li><a href="#">30 Oct<span>Wednesday</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Slaider Section -->


        <!-- Movie Theater Name -->

        <div class="container">
            <div class="movie-theater text-center">
                <h2>
                    Name Of The Movie Theater
                </h2>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="time">
                        <h2>2D</h2>
                        <a class="btn btn-danger" href="#">22:11</a>
                        <a class="btn btn-danger" href="#">12:00</a>
                        <a class="btn btn-danger" href="#">17:23</a>
                        <a class="btn btn-danger" href="#">2:11</a>
                        <a class="btn btn-danger" href="#">4:55</a>
                        <a class="btn btn-danger" href="#">10:20</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Movie Theater Name -->
        <%- include('../footer') %>
</body>

    <style>

    </style>

</html>