<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<%- include('../header') %>
    <%- include('../nav') %>

<body>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="margin-bottom: 1%; height: 500px;">
          <div class="carousel-item active" >
            <img src="/images/paragrap1/pica1.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/paragrap1/preoder1.jpg" class="d-block w-100 " alt="...">
          </div>
          <div class="carousel-item">
            <img src="/images/paragrap1/354191408_762308982354837_5881753171290611047_n.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <div style="font-size: xx-large; text-align: start; margin-bottom: 5%; "><b>‼️ ขยายเวลารับสมัคร FOR FUN‼️</b></div> <hr>
      </div>
      <section class="select">
        <div>
            <div class="row">
                <div class="col-lg-8" style="text-align: center; height: 100%;  margin-left: 4%; margin-top: 2%;  margin-bottom: 3%;" >
                  <img src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg" class="rounded float-left " alt="Responsive image" width="330px" height="250px">
                  <img src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg" class="rounded float-left" alt="Responsive image" width="330px" height="250px">
                  <img src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg" class="rounded float-left" alt="Responsive image" width="330px" height="250px">
                  <h2>‼️ ขยายเวลารับสมัคร FOR FUN‼️</h2>
                  <div style="margin-bottom: 5%;">🎉🎉🎉 𝑺𝑼𝑻 𝑭𝑶𝑹 𝑭𝑼𝑵 𝑺𝑷𝑬𝑪𝑰𝑨𝑳 𝑪𝑶𝑴𝑬𝑩𝑨𝑪𝑲 𝑭𝑶𝑹 𝑳𝑰𝑽𝑬 ขยายเวลารับสมัครแล้วนะ และสมัครทั้งสองเกมได้เลย แข่งไม่ตรงกันแน่นอน🎯🎯📍📍ปิดรับสมัคร 5 กุมภาพันธ์ 2566 น้า
                    ประกาศ
                    สำหรับ นศ. ทุกคนที่ลงทะเบียนรายวิชาโครงงานฯ เทอมนี้ (3/2565) และที่ลงทะเบียนไปแล้วแต่ยังไม่ได้ขึ้นสอบ (นศ. ที่ติด P)
                    ให้ นศ. ดำเนินการส่งเอกสารติดตามการเข้าพบ อ.ที่ปรึกษาโครงงานวิศวกรรมคอมพิวเตอร์ ภายในวันศุกร์ที่ 30 มิถุนายน 2566 ที่ https://forms.gle/HDK2VbE6WUsMcQRy6
                    ไฟล์แบบฟอร์มเอกสารติดตามการเข้าพบ อ.ที่ปรึกษาฯ สามารถดาวน์โหลดได้ตามลิงค์นี้นะครับ https://drive.google.com/drive/folders/1o1ukH-NSTiVHwIeRF2EOvoEZAKWbgUkR?usp=sharing
                    ให้อัพโหลดเอกสารประกอบการนำเสนอ (เช่น ไฟล์ powerpoint, รายงาน) ในโฟลเดอร์ (แยกตามชื่อ อ.ที่ปรึกษาฯ) ภายในวันศุกร์ที่ 30 มิถุนายน 2566 ตามลิงค์นี้นะครับ https://drive.google.com/.../1tq6zrXBtvWLNCwLs9G9rwPDyEGZ...
                    กำหนดวันสอบคือ วันศุกร์ที่ 7 กรกฎาคม 2566
                    สำหรับตารางเวลาการนำเสนอจะแจ้งให้ทราบต่อไป (ภายหลังจากได้ตรวจสอบเอกสารติดตามการเข้าพบอาจารย์ที่ปรึกษาฯ ทั้งหมดเรียบร้อยแล้ว)
                    ประกาศ
                  </div>
                  <iframe src="https://player.vimeo.com/video/137857207" title="Vimeo video" allowfullscreen width="600px" height="400px"></iframe>
                  <div>สัสดี</div>
                </div>
                <div class="col-sm-3" style="margin-left: 3%;">
                  <div class="card" style="width: 25rem; background-color: rgb(202, 240, 229);">
                    <a href="#">
                    <img class="card-img-top" src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 style="color: black;"><b>Some quick</b></h5>
                      <p class="card-text" style="color: black;"><u>Some quick example text to build on the card title and make up the bulk of the card's content.</u></p>
                    </div>
                    </a>
                  </div>
                    <form>
                        <div class="fomr-groub" sz>
                            <section id="slider_bl">
                                <div class="wrapper">
                                  <input checked="" type="radio" name="slider" id="slide1">
                                  <input type="radio" name="slider" id="slide2">
                                  <input type="radio" name="slider" id="slide3">
                                  <input type="radio" name="slider" id="slide4">
                                  <div class="slider-wrapper">
                                    <div class="inner">
                                      <article>
                                        <div class="info top-left">
                                          <h3>Слайдер 1</h3></div>
                                        <img src="https://obninsksite.ru/assets/theme/images/blog/slider/1.jpg">
                                      </article>
                                      <article>
                                        <div class="info bottom-right">
                                          <h3>Слайдер 2</h3></div>
                                        <img src="https://obninsksite.ru/assets/theme/images/blog/slider/2.jpg">
                                      </article>
                                      <article>
                                        <div class="info bottom-left">
                                          <h3>Слайдер 3</h3></div>
                                        <img src="https://obninsksite.ru/assets/theme/images/blog/slider/3.jpg">
                                      </article>
                                      <article>
                                        <div class="info top-right">
                                          <h3>Слайдер 4</h3></div>
                                        <img src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg">
                                      </article>
                                    </div>
                                  </div>
                                  <div class="slider-prev-next-control">
                                    <label for="slide1"></label>
                                    <label for="slide2"></label>
                                    <label for="slide3"></label>
                                    <label for="slide4"></label>
                                  </div>
                                  <div class="slider-dot-control">
                                    <label for="slide1"></label>
                                    <label for="slide2"></label>
                                    <label for="slide3"></label>
                                    <label for="slide4"></label>
                                  </div>
                                </div>
                            </section>
                        </div>
                    </form>
                    <div class="card" style="width: 25rem; background-color: rgb(202, 240, 229);">
                      <a href="#">
                      <img class="card-img-top" src="https://obninsksite.ru/assets/theme/images/blog/slider/4.jpg" alt="Card image cap">
                      <div class="card-body">
                        <h5 style="color: black;"><b>Some quick</b></h5>
                        <p class="card-text" style="color: black;"><u>Some quick example text to build on the card title and make up the bulk of the card's content.</u></p>
                      </div>
                      </a>
                    </div>
                </div> 
            </div>
        </div>
    </section>

      <div class="row">
        <div class="col-4 col-sm-3">
          <div class="multi-carousel vertical" data-mdb-items="3">
            <div class="multi-carousel-inner">
              <div class="multi-carousel-item " style="margin-top: 2%;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/1.webp"
                  data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp" alt="Table Full of Spices"
                  class="active w-100" />
              </div>
              <div class="multi-carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/2.webp"
                  data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/2.webp" alt="Winter Landscape"
                  class="w-100" />
              </div>
              <div class="multi-carousel-item">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/Thumbnails/Slides/3.webp"
                  data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/3.webp"
                  alt="View of the City in the Mountains" class="w-100" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-9" style="margin-bottom: 2%;">
          <div class="lightbox">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp" alt="Gallery image 1"
              class="ecommerce-gallery-main-img active w-100" />
          </div>
        </div>
      </div>
    </div>
    
        <%- include('../footer') %>
</body>

    <style>

    </style>

</html>