<div class="splide " id="splide2" role="group" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
        <ul class="splide__list">
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
            <li class="splide__slide">
                <div class="card" style="width: 18rem;">
                    <img src="https://mpics.mgronline.com/pics/Images/565000009894201.JPEG" class="card-img-top"
                        alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<style>
    /* สไลด์เฉพาะในหน้านี้ */
    #splide2 .splide__arrow {
        margin-top: -50px;
        margin-block-end: -50px;
        margin-right: -30px;
        margin-left: -30px;
    }
    #splide2 .splide__pagination__page {
        margin-left: 300px;
    }
</style>


<script>
    var splide2 = new Splide('#splide2', {
        type: 'loop',
        direction: 'ttb',
        height: '70rem',
        perMove: 1,
        perPage: 3,
    });
    splide2.mount();
</script>