
<nav id="navbar-b" class="navbar navbar-expand-md navbar-dark mt-3 mb-4" style="background-color:#ffffff">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><b>ร้อนแรงในขณะนี้</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>รอบรั้ว มทส.</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>กีฬา</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>ชมรม</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>SEDA</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>กิจกรรม</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>ประชาสัมพันธุ์หลักสูตร</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>หอพักนักศึกษา</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>จิตอาสา</b></a>
          </li>
        </ul>
      </div>
    </div>
</nav>