<nav id="navbar-b" class="navbar navbar-expand-md navbar-dark mt-3 mb-4" style="background-color:#ffffff">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <% save_topic.forEach(save_topic=> { %>
          <% if (save_topic.topic_id == "20") { %>
            <li class="nav-item">
              <a class="nav-link" href="/news_type/20"><b><%= save_topic.topic_name %></b></a>
            </li>
          <% }  else if (save_topic.topic_id == "21") { %> 
            <li class="nav-item">
              <a class="nav-link" href="/news_type/21"><b><%= save_topic.topic_name %></b></a>
            </li>
          <% } else  { %>  
            <li class="nav-item">
              <a class="nav-link" href="/news_topic/<%= save_topic.topic_id %>"><b><%= save_topic.topic_name %></b></a>
            </li>
              <% }%> 
         
          <% }) %>
      </ul>
      
      
        
    </div>
  </div>
</nav>