<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="/stylesheets/font.css">

</head>
<body>
    <%- include('../home/header') %>
    <%- include('../home/nav') %>
    
    <div class="container">
        <img class="card-img-top" src="https://beta.sut.ac.th/dsa-scholar/wp-content/uploads/sites/183/2023/05/calen2566.jpg">
    </div>

    <%- include('../home/footer') %>
</body>
</html>