<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<%- include('../home/header') %>
    <%- include('../home/nav') %>
    <body>
        <section>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/aaa.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item ">
                        <img src="images/sd.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators"
                    data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
        </section>

        <article>
            <!-- Card List Section -->
            <div class="menu-c">
                    <button class="btn_menu" style="margin: 5px;" type="submit">รอบรั้ว มทส.</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">ร้อนแรงในขณะนี้</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">Dorm</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">Button</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">Button</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">Button</button>
                    <button class="btn_menu" style="margin: 5px;" type="submit">Button</button>
            </div>
       
            <div>
                <section x-data="xData()" class="paragrap1 py-3 px-5 ">
                    <!-- Card Grid -->
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
                        <template x-for="post in posts">
                            <!-- Card Item -->
                            <div class="col my-4">
                                <!-- Clickable Area -->
                                <a :href="post.link" class="card h-100 cursor-pointer"
                                    style="color: rgb(0, 0, 0);margin-top: -5px;background-color: aliceblue; text-decoration:none ;box-shadow: 2px 2px 16px 16px rgba(255, 255, 255, 0.1); ">
                                    <!-- Image -->
                                    <img :src="post.image + '?auto=format&fit=crop&w=400&q=50'"
                                        class="card-img-top rounded-top" alt="Post Image">
                                    <div class="card-body">
                                        <!-- Title -->
                                        <h5 class="card-title text-lg mb-4 font-weight-bold " x-text="post.title"></h5>
                                        <!-- Description -->
                                        <p class="mb-1 " style="line-height: 1.25;" x-text="post.description"></p>
                                    </div>
                                </a>
                            </div>
                        </template>
                    </div>
                </section>
            </div>
        </article>


        <script>
            function xData() {
                /**
                 * Shuffle an array
                 * @param {Array} array
                 * @source https://stackoverflow.com/a/2450976/6940144
                 */
                function shuffle(array) {
                    let currentIndex = array.length,
                        randomIndex;

                    while (currentIndex != 0) {
                        randomIndex = Math.floor(Math.random() * currentIndex);
                        currentIndex--;

                        [array[currentIndex], array[randomIndex]] = [
                            array[randomIndex],
                            array[currentIndex],
                        ];
                    }

                    return array;
                }

                const posts = [
                    {
                        link: "/details",
                        image: "/images/paragrap1/pica1.jpg",
                        title: "‼️ ขยายเวลารับสมัคร FOR FUN‼️",
                        description:
                            "🎉🎉🎉 𝑺𝑼𝑻 𝑭𝑶𝑹 𝑭𝑼𝑵 𝑺𝑷𝑬𝑪𝑰𝑨𝑳 𝑪𝑶𝑴𝑬𝑩𝑨𝑪𝑲 𝑭𝑶𝑹 𝑳𝑰𝑽𝑬 ขยายเวลารับสมัครแล้วนะ และสมัครทั้งสองเกมได้เลย แข่งไม่ตรงกันแน่นอน🎯🎯📍📍ปิดรับสมัคร 5 กุมภาพันธ์ 2566 น้า",
                    },
                    {
                        link: "https://web.facebook.com/photo/?fbid=762308985688170&set=a.589020653017005",
                        image:
                            "/images/paragrap1/354191408_762308982354837_5881753171290611047_n.jpg",
                        title: "ประกาศมหาวิทยาลัยเทคโนโลยีสุรนารีเรื่อง รายชื่อผู้มีสิทธิ์รับทุนการศึกษามูลนิธิวัตไกรฤกษ์ประจำปีการศึกษา 2565",
                        description:
                            "👉 คลิกลิงค์ประกาศที่นี่ : https://beta.sut.ac.th/dsa-scholar/news/18628",
                    },
                    {
                        link: "/page1",
                        image:
                            "/images/paragrap1/preoder1.jpg",
                        title: "“เสื้อ FRESHY รุ่นที่ 31 โลกานุวัตร เจ้าของอำนาจแห่งอนาคต”",
                        description:
                            "สิ้นสุดการรอคอย🫶🏻🎁 ผองานโดย นางสาว ธนกร พงศ์พันธ์พาณิชย์จากแนวความคิด ความร่วมสมัย ลวดลายพริ้วไหวจากความภูมิใจต่อมรดกทางวัฒนธรรมและเอกลักษณ์ของภูมิภาคอีสาน เปิดพรีออเดอร์ 📍📍วันที่ 18-23 มิถุนายน 2566  (5 วันเท่านั้น)  ช่องทางการพรีออเดอร์ 📍📍https://shop.line.me/@725sjatl ",
                    },
                    {
                        link: "https://web.facebook.com/photo?fbid=229192969969194&set=a.104320619123097",
                        image:
                            "/images/paragrap1/leadercamp.jpg",
                        title: "LEADER CAAPE!!!!  COMMING SOON",
                        description:
                            "พร้อมแล้วหรือยัง เตรียมตัวพบกับ LEADER CAMP #25 เร็วๆนี้ แล้วเจอกัน!! #ค่ายพัฒนาความเป็นผู้นำครั้งที่25 #อมทส #SUSUTทำAct #มทส",
                    },
                ];

                const uniquePosts = Array.from(
                    new Set([
                        ...shuffle(posts),
                        ...shuffle(posts),
                        ...shuffle(posts),
                        ...shuffle(posts),
                        ...shuffle(posts),
                    ]),
                    JSON.stringify
                ).map(JSON.parse);
                return {
                    posts: uniquePosts,
                };
            }
        </script>
                <div class="row my-5">
                    <div class="column">
                        <div class="card">
                            <a href="#" class="text-decoration-none">
                                <div class="top">
                                <img class="card-img-top"
                                    src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/361934974_839863550836524_1972668427394597035_n.jpg?stp=dst-jpg_p843x403&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHER4-sn52MLRLHx6DGoLRBsy08vIeKRdWzLTy8h4pF1VecO0pDhfL9bS2tm3cp5rMNmy54B-vdyvMAAM9uRB2I&_nc_ohc=T-F1J8NkfjoAX8lIfbW&_nc_ht=scontent.fnak3-1.fna&oh=00_AfBiUk6A3BgJVkQemjnVpCveZFrU1mqU5Ik3lngOGHVVpQ&oe=64BAD338"
                                    alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"><b>จันทร์ 31 ไม่หยุดดดดดดดด </b></h5>
                                    <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                        จันทร์ 31 ไม่หยุดดดดดดดด จารย์ค้าบบบบบบยกคลาสแล้วค่อยมาชดเชยได้มั้ยค้าบบบบบบบ // ลองอ้อนอาจารย์ดูเน้อ ^^
                                        #ทีมพี่ด๊อม</p>
                                </div>
                            </a>
                        </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none">
                            <div class="top">
                            <img class="card-img-top"
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/359783856_837832777706268_6559519969118641593_n.jpg?stp=dst-jpg_p843x403&_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeE6L0-tm6xd7YAFJ5nTgOWWBlsoNb3XAqIGWyg1vdcCopb91kj27SecAoucLtqo2f3osHq2hoHVxj9ODACtxuXN&_nc_ohc=igd6mBoKqgEAX8fuxb7&_nc_ht=scontent.fnak3-1.fna&oh=00_AfCQ6nyPGZa82msnvAozMkYqfOnZ9qG3kKnNjq1WFIaiaA&oe=64BBE75F"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><b>มีคนเลี้ยงหมูทะยังครับน้อง</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    มีคนเลี้ยงหมูทะยังครับน้อง
                                    ถ้ามีแล้ว......ก็เลี้ยงพี่ด้วยนะ ^^
                                    #ทีมพี่ด๊อม</p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none">
                            <div class="top">
                            <img class="card-img-top"
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/358114573_833659928123553_8277293931821943004_n.jpg?stp=cp6_dst-jpg_s1080x2048&_nc_cat=111&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGEv-KEWi1AcQD9lj7WKmQ6mgSNuDIXl9yaBI24MheX3EoegAWmeYeIbLUyqZ1MvEbF7u8VPbscky1KUIfs2B2u&_nc_ohc=478isuoNEQkAX_MCj3u&_nc_oc=AQkVYsCvn6qLKsWXUrpZh5BAMpMxVVxsRqdC_Eub2Jk2E5XqyQb-AKheqRIFL-HzSunwcUrHgUtHlR0nJ0FP_iCE&_nc_ht=scontent.fnak3-1.fna&oh=00_AfDBMt2HUH17QQzzHSaRsrlxg5A_vMtRw9whd8D_tKqqsg&oe=64BB7504"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><b>โปร 7.7 // โปรเปิดร้านใหม่ // แชร์กินฟรี</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    เปา เปิดร้านใหม่ หน้า มทส. ประตู 1 กินฟรี 3 วัน
                                    7-8-9 ก.ค. 66 ทานที่ร้าน มาทานฟรีชุดแรก ทุกโต๊ะ ไปเล้ยยยย
                                    #ทานที่ดีคือทานฟรี #อร่อยจุกสุขทั้งโต๊ะ
                                    #ทีมพี่ด๊อม</p>
                            </div>
                        </a>
                    </div>
                    </div>
                
                    <div class="column">
                        <div class="card ">
                            <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                                <div class="top">
                                <img class="card-img-top" 
                                    src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/361580601_675421587961214_8368558909061613312_n.jpg?stp=dst-jpg_s960x960&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeEn_8TdWiNDhYzLmk_Z0z9DKPOjScftvxwo86NJx-2_HBpK63GTq-wyehTR8y-hoy9TRxotNEg715zq2hXqOP9_&_nc_ohc=pPbRzNEeMeMAX9G-VEe&_nc_ht=scontent.fnak3-1.fna&oh=00_AfCfvOXDUuWiPkwb6UxO9gqlYAw_EIR8O6cYH8SExMPOww&oe=64BA9BAB"
                                    alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> <b>“ปฐมนิเทศนักศึกษาใหม่ 2566”</b></h5>
                                    <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                            ‼️สำหรับน้องๆ ที่ลงทะเบียนเข้างาน
                                            “ปฐมนิเทศนักศึกษาใหม่ 2566”
                                            ⏰ เปิดลงทะเบียนเข้างาน 
                                            ตั้งแต่เวลา 12.15 น. - 13.00 น.
                                            (เฉพาะคนที่ลงทะเบียนไว้เท่านั้น)
                                            👕 การแต่งกาย : ชุดนักศึกษา
                                            📌 ทั้งนี้นักศึกษาที่ไม่ได้ลงทะเบียนล่วงหน้า จะไม่สามารถเข้าร่วมกิจกรรมในสุรพัฒน์ 2 ได้
                                            สามารถรับชมการถ่ายทอดสด ที่เพจ www.facebook.com/DSASUT
                                            โดยมีสิทธิ์ที่จะได้รับของรางวัลเท่าเทียมกับผู้ที่อยู่ในอาคารสุรพัฒน์ 2
                                            🔅🔅🔅🔅🔅🔅🔅🔅
                                            สนับสนุนกิจกรรมโดย
                                            สมาคมเทคโนโลยีสุรนารี  หรือ สมาคมศิษย์เก่า มทส
                                    </p>
                                </div>
                            </a>
                        </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/359435426_776155344304380_5337750460454247219_n.jpg?stp=dst-jpg_p552x414&_nc_cat=107&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGEPQyVr7Pld3BqTB0XOQ-RYEYvsfrkMSBgRi-x-uQxIKFWM4nVmIfAQfETuzHoAEXME8KTltLLFGc9QFZfK1pl&_nc_ohc=cpSzhi6RVZ0AX9fGOSI&_nc_ht=scontent.fnak3-1.fna&oh=00_AfCG6CcZYcoA_u4ySGi34llUigGTGFKh0IoMvzxqQqsPcQ&oe=64BBA367"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> <b>หอพักนักศึกษา ยินดีต้อนรับผู้ปกครอง</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    หอพักนักศึกษา ยินดีต้อนรับผู้ปกครอง  ของน้องๆปี 1 ทุกคน  ขอบคุณพี่กรรมการหอพักทุกหอ และน้องๆจิตอาสา ที่มาช่วยต้อนรับน้องๆในครั้งนี้ด้วยค่ะ❤️❤️❤️
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/359284545_775209267732321_6606386944312161009_n.jpg?stp=dst-jpg_p720x720&_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeGmwetnoadTB8G8hcl-9H_roBoayRm76PSgGhrJGbvo9MlAfKzxEXr8HGVELYWZndZfTtkyVJQgc20eBznEkWQh&_nc_ohc=8A4BCUQZ01AAX8pW3La&_nc_ht=scontent.fnak3-1.fna&oh=00_AfAYdhyV2twkg_5VMq3wQdLcyNOvqUBw3zUwNVCqqsmImA&oe=64BB70F2"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> <b>วันที่ 2 ของการจัดโครงการอบรมกรรมการหอพัก</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    ซึ่งจัดขึ้นในวันพฤหัสบดีที่ 13 กรกฎาคม โดยมีกิจกรรมหลักๆ คือการทำกิจกรรม Walk Rally / Campus Tour / สรุปกิจกรรมในภาคกลางคืน ขอเชิญชมภาพบรรยากาศการจัดโครงการ ได้เลยครับ
                                </p>
                            </div>
                        </a>
                    </div>
                    </div>
                    
                    <div class="column">
                        <div class="card ">
                            <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                                <div class="top">
                                <img class="card-img-top" 
                                    src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/361635886_249881974566960_1281805196286756358_n.jpg?stp=dst-jpg_p843x403&_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGqOXq9Cu-MJNdm0BaedhA0LIFHiNqDeKssgUeI2oN4q6O1tzOAbIfCSPJduPtwjkdmNDS96J7vMHwfPkVkbJ9D&_nc_ohc=iWRe0-Zmo7YAX8Yhr__&_nc_ht=scontent.fnak3-1.fna&oh=00_AfB5Q87NxeQRpJqgKV4yM-f7_lGSrAo7KMYl-dCuhCTMkA&oe=64BACB45"
                                    alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title"> <b>‼️เตือนภัย‼️</b></h5>
                                    <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                        ระวังมิจฉาชีพสวมรอยเป็นพี่ๆในมหาวิทยาลัยหลอกให้น้องๆ โอนเงินให้ โดยแจ้งว่าเป็นค่าเสื้อ หรือค่าอุปกรณ์ต่างๆ 
                                        📍ดังนั้นก่อนน้องๆจะโอนเงินเช็คกับพี่หอ พี่สาขา หรือพี่ที่ดูแลเรื่องการซื้อขายให้ดีก่อนนะคะ ด้วยความเป็นห่วงจาก อมทส.
                                    </p>
                                </div>
                            </a>
                        </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/359734837_247982791423545_8918930208991416133_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGU-RsBb5_IySQKLFNuvmq6FmY-ET9f2dcWZj4RP1_Z194Xswp4gpdLQZqjGvloQEWwZ0SDvlXydutvYMAfZyfv&_nc_ohc=0Jz1s_2ZzWkAX_BvA_u&_nc_ht=scontent.fnak3-1.fna&oh=00_AfBm8hC-Sez6N9B_5Ga7fEy1CkpqKTdf11M_OgP0kqNUNw&oe=64BBC113"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> <b>ยินดีต้อนรับน้องใหม่ ปีปทองช่อที่ 31 😊</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    ปล.ใครตามหาพี่ๆ แอดมินเจอมีของรางวัลแจกก
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none" style="border-radius: 39px;">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/360114139_246727051549119_6020333138870396157_n.jpg?stp=dst-jpg_p600x600&_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGva10_KKppMPB0yOzx1Y7j4DOFsoqEy-DgM4WyioTL4ElyAeJ2vRFr1Y5VYXH0itqORC5AWxdPwQ5Mw-Jx1N_3&_nc_ohc=Mhj2T9CWjK4AX-jHccg&_nc_ht=scontent.fnak3-1.fna&oh=00_AfDdwzDqaLHvITonB4FaY0D-TvIYbMHnfJBbOnww_nDdyA&oe=64BC50AD"
                                alt="Card image cap">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"> <b>เอ๊ะ เอ๊ะ เอ๊ะ เอ๋~~~ ปีนี้มีเพลงอะไรนะ</b></h5>
                                <p class="card-text" style="width: 300px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                                    ร้องยังไงกันบ้างล่ะ โอ๊ยยย ไม่ได้น่ะสิ่ 
                                    ✨เปิดตัวเพลงสันทนาการใหม่ของปีนี้ จากพี่ๆผู้นำ#25✨
                                    #ปีบทองช่อที่31 #FreshySUT31 #SuranareeUniversityOfTechnology #พี่ผู้นำรุ่นที่25
                                </p>
                            </div>
                        </a>
                    </div>
                    </div>
                    <div id="area" class="column" >
                    <br>
                    <h1><i class="bi bi-pin-map-fill"></i><br> NEWS.... SUT</h1>
                        <div class="card ">
                            <a href="#" class="text-decoration-none">
                                <div class="top">
                                <img class="card-img-top" 
                                    src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/360085946_737009601562103_3472616449069242371_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=0debeb&_nc_eui2=AeH2TKjmUPIdDjjKs4YRnxgl4Y65U1TtmCbhjrlTVO2YJi8AdvTjeIMGr6o0-1mYNEquUsXlTKt3KhTdZn6OSYdW&_nc_ohc=995D9oJYTTwAX8LNKJo&_nc_ht=scontent.fnak3-1.fna&oh=00_AfAWYd9rxVU3SHUFbh6jKNC2SrnON8kdAjTjlXdFmVH4DA&oe=64BB683D"
                                    alt="Card image cap">
                                </div>
                                <div class="card-body" style="background-color: #000000; color: #ffffff;">
                                    <h6 class="card-title"> <b>ภาพบรรยากาศ วันที่ 9 กรกฎาคม 2566 #3</b></h6>
                                    <p class="card-text">
                                        ค่ายพัฒนาความเป็นผู้นำ ครั้งที่ 25 6-9 กรกฎาคม 2566
                                    </p>
                                </div>
                            </a>
                        </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/360102246_246276544927503_3379907282140271659_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeEMn7w8HdDFec9XGeJY6BOLwnFT8Xxwhb3CcVPxfHCFvR9l2bVs6KDnbmO4uXWmE7pahMKuMUGhlT8DwpphDj_U&_nc_ohc=D7XyD6x1vrwAX_INo0a&_nc_ht=scontent.fnak3-1.fna&oh=00_AfBWNpKD_Bf1icywgLA5Tx4Ty5XC87jZBxfsLLzvQbpQ-w&oe=64BC352E"
                                alt="Card image cap">
                            </div>
                            <div class="card-body" style="background-color: #000000; color: #ffffff;">
                                <h6 class="card-title"> <b>Suranaree University of Technology</b></h6>
                                <p class="card-text">
                                    “ค่ายเตรียมความพร้อม คณะทำงานต้อนรับนักศึกษาใหม่ ปีบทอง มทส. ช่อที่ 31”
                                </p>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="#" class="text-decoration-none">
                            <div class="top">
                            <img class="card-img-top" 
                                src="https://scontent.fnak3-1.fna.fbcdn.net/v/t39.30808-6/358472090_672612224908817_3898414608417856143_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGH_068uJ2izjC6fLiQhtOpMn5kvsFaUm8yfmS-wVpSb9jhOZ0vqPTfvxVgsWmKyqkxOIybOuU5BGJypMlawaaf&_nc_ohc=DEnu56Kh4LsAX8TwWEI&_nc_ht=scontent.fnak3-1.fna&oh=00_AfCHvSDZrAuKQDKUo8abq63ZSmRz4l8JTOZV-gm8fJKA8A&oe=64BA8A5F"
                                alt="Card image cap">
                            </div>
                            <div class="card-body" style="background-color: #000000; color: #ffffff;">
                                <h6 class="card-title"> <b>💡 ฟังทางนี้ สำหรับน้องๆ ปีบทองช่อที่ 31 🔅</b></h6>
                                <p class="card-text">
                                    🔎 กิจกรรม ปฐมนิเทศนักศึกษาใหม่ 
                                    ‼️จำกัดด เพียง 2,500 คนเท่านั้น ‼️
                                    📆 วันที่ 17 กรกฎาคม 2566
                                    📍อา... ดูเพิ่มเติม
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
                </div>
                <%- include('../home/footer') %>
        </body>
        <style>
             #area{
                background-image: -moz-linear-gradient(0deg, #ffffff 0%, #ffffff 100%);
                background-image: -webkit-linear-gradient(90deg, #ffffff 0%, #000 100%);
                border-radius: 25px;
                }
             * {
                box-sizing: border-box;
                }

                body {
                font-family: Arial, Helvetica, sans-serif;
                }

                /* Float four columns side by side */
                .column {
                float: left;
                width: 25%;
                padding: 0 10px;
                }

                /* Remove extra left and right margins, due to padding */
                .row {margin: 0 -5px;}

                /* Clear floats after the columns */
                .row:after {
                content: "";
                display: table;
                clear: both;
                }

                /* Responsive columns */
                @media screen and (max-width: 600px) {
                .column {
                    width: 100%;
                    display: block;
                    margin-bottom: 20px;
                }
                }

                /* Style the counter cards */
                .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                text-align: center;
                background-color: #fafafa;
                }
                body {
                color: #ffffff;
                background: #ffffff;
                }
        </style>
        </html>
