<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/font.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <% const imagePath=home_website.website_picture.substring(6); %>
        <img class="rounded-circle" src="<%= imagePath %>" 
            alt="" width="40" height="40">
    </a>
    <a class="navbar-brand" href="/"><%= home_website.website_name %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/scholarship">ทุนการศึกษา<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/calendar">ปฏิทิน มทส.</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-expanded="false">
                    รายวิชาที่เปิดสอน
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/subject/home_elective_subject">รายวิชาเสรี</a>
                    <a class="dropdown-item" href="/subject/home_general_subject">รายวิชาศึกษาทั่วไป</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="/sut_map" class="nav-link">แผนที่ มทส.</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-outline-secondary" href="/search" role="button">ค้นหาข่าว</a>
        </form>
    </div>
</nav>
</body>
</html>
