<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
</head>
<body>
    <%- include('../home/header') %>
    <%- include('../home/nav') %>

    <div class="container">
        <img  class="card-img-top"  src="https://scontent.fbkk22-6.fna.fbcdn.net/v/t1.6435-9/35521325_1805297566194008_8137242440546385920_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeH_sH9Hk-3Duug3gA57KqsBxTIasIWKhmHFMhqwhYqGYfYYWIeIt4FN46pkOzgSjVdjjca64Epd9QTa0zZqtal2&_nc_ohc=p0caPHVT-ucAX9nd1ru&_nc_ht=scontent.fbkk22-6.fna&oh=00_AfCTzwAtSFdxW8qIS9nz22XAth3KoaHAt-y_jlx2TaLcnA&oe=6520FA6E" class="img-fluid" alt="Responsive image">
    </div>

    <%- include('../home/footer') %>
</body>
</html>