<!DOCTYPE html>
<html>
  <head>
    <title>SUT NEWS</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/font.css">
  </head>
  <body>
    <h1>SUT NEWS</h1>
    <p>Welcome to SUT NEWS</p>
  </body>
</html>
